@import "highlight/styles/magula.css";
@import "head.css";
@import "nav.css";

:root {
  --border-width: 0.09rem;
  --border-color: black;

  --blue-color: #3889b7;
  --blue-hover-color: #2e7096;

  --latex-project-primary: #008080;
  --resume-button-hover: #007272;

  --linkedin-primary: #0077B5;
  --linkedin-button: #0073b1;
  --linkedin-button-hover: #006097;

  --github-primary: #24292e;

  --txst-primary: #501214;
  --txst-secondary: #E8E3DB;
  --txst-tertiary: #6A5638;
  --txst-button: #622a2c;
}

*:not(pre code) {
  font-family: "Times New Roman", Times, serif;
}

pre code {
  font-size: 0.9rem;
}

.code_wrapper {
  overflow-y: auto;
  height: 25rem;
}

p, li { 
  font-size: 110%;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.75rem;
  margin-bottom: 0pt;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 0pt;
  margin-top: 0pt;
}

h4 {
  font-size: 1.25rem;
  margin-bottom: 0pt;
  margin-top: 0pt;
}

h5 {
  font-size: 1rem;
  margin-bottom: 0pt;
  margin-top: 0pt;
}

h6 {
  font-size: 0.8rem;
  margin-bottom: 0pt;
  margin-top: 0pt;
}

.button {
  padding: 0.8rem 1.5rem;
  color: #fff;
  border: none;
  text-decoration: none;
}

.main {
  overflow: auto;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  
  padding: 1rem;
  padding-bottom: 2rem;
  background-color: #FFFFFF;
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
  background: #f6f6f6;
}

.left_half {
  float: left;
  width: 49%;
}

.right_half {
  float: right;
  width: 49%;
}

.boxed {
  border: var(--border-width) solid var(--border-color);

  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-bottom: 1rem;

  margin-bottom: 0rem;

  overflow: auto;
}