@import "globals.css";

:root {
  --unsolved-color: #ff6060;
  --pending-color: #d2d2cf;
  --solved-color: #adda82;

  --pe-unsolved-color: #eee;
  --pe-solved-color: #cee7b6;
}

img {
  float: left;
  margin-top: 1rem;
  margin-right: 1rem;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

tr {
  width: 600px;
}

td {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  text-align: center;
}

td.solved {
  background-color: var(--solved-color);
}

td.pending {
  background-color: var(--pending-color);
}

td.unsolved {
  background-color: var(--unsolved-color);
}

td a {
  display: block;
  text-decoration: none;
  color: black;
}
