@import "globals.css";

:root {
  --solved-color: #00FF00;
  --unsolved-color: #FF0000;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

tr {
  width: 600px;
}

td {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  text-align: center;
}

td.solved {
  background-color: var(--solved-color);
}

td.unsolved {
  background-color: var(--unsolved-color);
}

td a {
  display: block;
  text-decoration: none;
  color: black;
}
