@import "globals.css";

#problem5, #problem5 th, td {
  border-collapse: collapse;
  border: var(--border-width) solid var(--border-color);
  padding: 0.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
